.header{
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,.87);
    color: white;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
}

.header .logo{
    max-height: 62px;
    padding-left: 40px;
}

.header .title-group{
    padding-left: 78px;
}


.header .title-group i{
    padding-right: 5px;
}
